*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 62.5%;
}
.header{
  height: 95vh;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("bg.jpg");
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0 , 100% 0, 100% 80vh, 0 100%);
  position: relative;
}
.title-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: left;
  width: 100%;
  padding-left: 5rem;
}
.title{
  color: #fff;
  text-transform: uppercase;
  line-height: 60px;
}
.title-main{
  display: block;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 1.5rem;
  margin-bottom: 1rem;
}
.title-sub{
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2rem;
}



























